.company-logo {
    //background-color: #4680ff;
}

.company-logo .h-47px {
    height: 47px;
}

.company-logo .w-42px {
    width: 47px;
}

.bg-dialog-color {
    background-color: var(--surface-card);
}

.text-dialog-color {
    color: var(--text-color);
}

.input-group {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    margin: 6px;
}

.font-Size12 {
    font-size: 12px;
}
.z-1000 {
    z-index: 10000;
}





