.icons {
    position: absolute;
    top: 2rem;
    z-index: 1;
    right: 2.5rem;
}

.scrollHeight {
    height: calc(60vh - 11rem);
}

.p-panel-header-icon{
    width: 2rem;
}

.height-100vh-28rem{
    height: calc(100vh - 28rem) ;
}

.ng-scroll-h-80hv {
  height: calc(100vh - 25rem);
}

