.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link-active {
    color: var(--primary-color);
}
.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link-active .p-menuitem-text {
    color: inherit;
}


.p-breadcrumb .p-breadcrumb-list li .p-menuitem-link .p-menuitem-icon {
    color: inherit;
}

