
.p-button{
    //padding: 0.5rem 1.25rem;
}
.custom-button{
   padding: 0.60rem 1.25rem !important;
}
.custom-calender .p-button-icon-only{
    border: 1px solid !important;
    border-color: #d1d5db!important;
    background-color: transparent !important;
    color: var(--primary-color)!important;
}
.custom-inputnumber .p-button.p-button-icon-only{
    border: 1px solid !important;
    border-color: #d1d5db!important;
    background-color: transparent !important;
    color: gray!important;
}
.edge-length .p-inputtext {
    width: 9.5rem !important;
}



















