.p-multiselect-label.p-inputtext,
.p-multiselect-filter.p-inputtext {
  padding: 0.4rem 0.4rem;
}

.p-multiselect-item,
.p-multiselect-items {
  font-size: 12px !important;
  padding: 0.2rem 1.25rem !important;
}

.p-multiselect-label,
.p-inputtext {
  font-size: 12px !important;
}

.multiselect.p-multiselect {
  width: 250px !important;
}