.p-datatable-custom .p-datatable-wrapper {
    height: calc(100vh - 27rem);
  }

  .p-datatable-document .p-datatable-wrapper {
    height: calc(100vh - 31rem);
  }

  .p-datatable-rule .p-datatable-wrapper {
    height: calc(100vh - 29rem);
  }
