.user-details span{
    padding-left: 6rem;
    font-weight: bolder;
    max-width: 80px; 
    text-overflow: ellipsis;
}
.user-details img{
    width: 25px;
    height: 18px;
    border-radius: 15px;
}
.google-icon-svg-height {
    height: 18px; /* Adjust height as needed */
}
.google-login-btn{
    padding: 0.5rem 0.75rem;
    background-color: var(--primary-color)!important;
}